html,body{
    font-size:38.3333px;
}
/*flex布局专用*/

.flex {
    display: flex;
}

.flex1 {
    flex: 1
}

.flex2 {
    flex: 2
}

.flex3 {
    flex: 3
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-left {
    display: flex;
    align-items: center;
    justify-content: left;
}
.flex-row {
    display: flex;
    flex-flow: row wrap;
}

.flex-column {
    display: flex;
    flex-flow: column wrap;
}

/*flex部分结束*/

/*左右对其部分*/

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/*左右对其部分结束*/

/*字体加粗*/

.font-weight {
    font-weight: bold;
}

/*字体加粗结束*/

/*display部分*/

.hidden {
    display: none;
}

.block {
    display: block !important;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

/*display部分结束*/
/*图片自适应*/
.img-responsive{
    width: 100%;
    height: auto;
}
/*a链接块级*/
.a-block {
    display: block;
    width: 100%;
    height: 100%;
}
/*宽高区域*/

.height-percent-100 {
    height: 100%;
}

.width-percent-100 {
    width: 100%;
}

.height-vh-100 {
    height: 100vh;
}

/*宽高区域结束*/

/*浮动*/

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

/*浮动结束*/

/*清除浮动*/

.clearfix {
    *zoom: 1;
    clear: both;
    overflow: hidden;
}

.clearfix:after {
    display: block;
    height: 0;
    overflow: hidden;
    content: " ";
    visibility: hidden;
    clear: both;
}

/*清除浮动结束*/

/*绝对定位*/

.rel {
    position: relative;
}

.abs {
    position: absolute
}

.fix {
    position: fixed;
}

/*绝对定位结束*/

/*文字超出隐藏*/

.text-elli {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*文字超出隐藏结束*/

/*超出样式*/

.over-hidden {
    overflow: hidden;
}

.over-scroll {
    overflow: scroll;
}

.over-auto {
    overflow: auto;
}

/*超出样式结束*/

/*常用颜色*/

/*背景颜色*/

.bg-white {
    background-color: white;
}

.bg-black {
    background-color: black;
}

/*字体颜色*/

.color-white {
    color: white;
}

.color-black {
    color: black;
}


/*重置ui*/
.main{
    margin-bottom 55px
}
/*musicRoom*/
.tab {
    .van-tabs__nav--line{
        padding: 0 .18rem;
    }
    .van-tabs__line{
        bottom:0;
        background-color:#23e379;
        font-size:.48rem;
    }
    .van-tab--active{
        font-weight: bold;
    }
    .van-hairline--top-bottom::after{
        border-width: inherit;
    }
}
.swiper-banner {
    .swiper-pagination-bullet{
        width: 16px!important;
        height: 2px!important;
        background #f5f5f5!important;
        opacity .6!important;
        border-radius: inherit!important;    
    }
    .swiper-pagination-bullet-active{
         background #23e379!important;
        opacity 1!important;
    }
    .swiper-pagination-bullets{
        bottom: 0!important;
    }
    
}
/*search*/
.search{
    .van-search__action{
    color: #23e379;  
  }
  .van-field__left-icon {
    color: #23e379; 
  }
  .van-cell__right-icon{
    color: #23e379; 
  }
}

